[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"4f39215" = {path = "/home/hhsecond/mypro/pytorch", editable = true}
"e1839a8" = {path = ".", editable = true}
pytest = "*"
tornado = "*"


[dev-packages]

